test_suite/build/cmake/build_vc140x64
test_suite/build/vs2015
test_suite/build/vs2010sp1

examples/build/cmake/build_vc140x64
examples/build/vs2015
examples/build/vs2010sp1


examples/build/cmake/build_llvm.sh
examples/build/cmake/build_llvm

test_suite/src/jcr_tests.cpp

src/jsoncons/json_structures.hpp.orig
