test_suite/build/vs2015/Debug
test_suite/build/vs2015/vs2015.sdf
test_suite/build/vs2015/vs2015.VC.opendb
test_suite/build/An ordinary desktop program1
test_suite/build/vs2015/.vs/vs2015/v14/.suo
test_suite/build/vs2015/vs2015.vcxproj.user
test_suite/build/vs2015/x64/Debug
test_suite/build/vs2015/x64

src/jsoncons/json1f.hpp
examples/build/vs2010sp1/Debug/
examples/build/vs2010sp1/Release
examples/build/vs2010sp1/ipch/vs2010sp1-eb180be/vs2010sp1-9b6b7ec6.ipch
examples/build/vs2010sp1/vs2010sp1.opensdf
examples/build/vs2010sp1/vs2010sp1.sdf
examples/build/vs2010sp1/vs2010sp1.suo
examples/build/vs2010sp1/vs2010sp1.v12.suo
notes.txt
src/jsoncons/detail/dtoa.hpp
test_suite/build/vs2010sp1/Debug
test_suite/build/vs2010sp1/Release/
test_suite/build/vs2010sp1/x64/Debug/
test_suite/build/cmake/CMakeFiles/3.1.1/CompilerIdCXX/Debug
src/jsoncons_ext/jsonpath/Criteria.java
test_suite/build/cmake/CMakeCache.txt
test_suite/build/cmake/CMakeFiles/3.1.1/CMakeCXXCompiler.cmake
test_suite/build/cmake/CMakeFiles/3.1.1/CMakeDetermineCompilerABI_CXX.bin
test_suite/build/cmake/CMakeFiles/3.1.1/CMakeRCCompiler.cmake
test_suite/build/cmake/CMakeFiles/3.1.1/CMakeSystem.cmake
test_suite/build/cmake/CMakeFiles/3.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
test_suite/build/cmake/CMakeFiles/3.1.1/CompilerIdCXX/CompilerIdCXX.exe
test_suite/build/cmake/CMakeFiles/3.1.1/CompilerIdCXX/CompilerIdCXX.vcxproj
test_suite/build/cmake/CMakeFiles/cmake.check_cache
test_suite/build/cmake/CMakeFiles/CMakeOutput.log
test_suite/build/vs2010sp1/ipch/vs2010sp1-dd669de8/vs2010sp1-416031ca.ipch
test_suite/build/vs2010sp1/vs2010sp1.opensdf
test_suite/build/vs2010sp1/vs2010sp1.sdf
test_suite/build/vs2010sp1/vs2010sp1.suo

test_suite/build/vs2015/test_suite.sdf
test_suite/build/vs2015/test_suite.VC.opendb
test_suite/build/vs2015/.vs/test_suite/v14/.suo
test_suite/build/vs2015/.vs/test_suite/v14/.suo
test_suite/build/vs2015/.vs
test_suite/build/vs2015/.vs/test_suite/v14/.suo

test_suite/build/vs2010sp1/vs2010sp1.vcxproj.user
